<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Checkerboard</title>
</head>
<body>
    <div class="container">
        {% for r in range(rows) %}
            <div class="row">
                {% for c in range(columns) %}
                    <div class="cell {% if (r + c) % 2 == 0 %}light{% else %}dark{% endif %}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>